/* src/app/admin/admin.component.css */

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard-navbar {
  /* Estilo para la barra de navegación, si es necesario */
}

.dashboard-content {
  text-align: center;
}

.dashboard-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dashboard-content th, .dashboard-content td {
  border: 1px solid #ddd;
  padding: 8px;
}

.dashboard-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
}

.dashboard-sidebar button {
  margin-bottom: 10px; /* Espaciado entre los botones en el panel lateral */
}
